#logo {
    font-size: x-large;
    color: #006E7F;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
.navbar {
    font-style: italic;
    font-size: medium;
    color: #F8CB2E;
    text-align: center;
}
.product-title {
    font-style: italic;
    font-size: small;
    color: #EE5007;
    text-align: center;
}
.footer {
    font-style: italic;
    font-size: x-large;
    color: #b919cb;
    text-align: center;
}